<ion-view view-title="Expense">
	<ion-nav-buttons side="right">
		<a class="button button-postive button-clear" href="#/tab/expense/new">
			<i class="icon ion-compose"></i>
		</a>
	</ion-nav-buttons>
  <ion-content class="padding">
		<ul class="list">
			<li class="item" ng-repeat="e in expense | orderBy:'-created_at' track by $index ">
				<h2 class="item-title">P {{e.amount}}</h2>
				<p>{{e.name}}</p>
				 <span class="item-note" am-time-ago="e.created_at"></span>
			</li>
		</ul>
  </ion-content>
  
<ion-footer-bar align-title="left" class="bar-calm">
  <h1 class="title"><i class="ion-briefcase"></i> {{ total | currency:'P':0 }}</h1>
</ion-footer-bar>
  
</ion-view>
