
<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->



<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Expense" icon-off="ion-social-usd-outline" icon-on="ion-social-usd" href="#/tab/expense">
    <ion-nav-view name="tab-expense"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Income" icon-off="ion-cash" icon-on="ion-cash" href="#/tab/income">
    <ion-nav-view name="tab-income"></ion-nav-view>
  </ion-tab>

</ion-tabs>
